<ul id="calendar_list">
    {% for week in calendar.month.weeks %}
            {% for day in week.days %}
                {% set key = day.date|date('z') %}
                <li class="{{ loop.last ? 'last' }}">
                    <a href="{{ calendar.events[key]|default(false) ? path('events_show', { id: calendar.events[key].id }) : '#' }}"
                        title="{{ calendar.events[key]|default(false) ? calendar.events[key].title : day.date|date('j') }}"
                        class="
                            {{ calendar.events[key]|default(false) ? 'event' }}
                            {{ calendar.getDate|date('n') != day.getDate|date('n') ? 'disable' }}
                        "
                        data-event-id="#event{{ key }}"
                    >
                        {{ day.date|date('j') }}
                    </a>
                </li>
            {% endfor %}
    {% endfor %}
</ul>
