{% block tipEvents %}

{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/btnevent/css/calendar.css') }}">
<div id="calendar_box">
    <ul id="calendar_header">
        <li id="calendar_prev" data-url="{{ path('render_calendar', { date: calendar.prevMonth|date }) }}">
            <a class="{{ calendar.prevMonth|date('n') >= minDate|date('n') ?: 'hidden' }}" href="#" title="Previous month">Previous month</a>
        </li>
        <li id="calendar_month">
            {{ calendar.date|date('F Y') }}
        </li>
        <li id="calendar_next" data-url="{{ path('render_calendar', { date: calendar.nextMonth|date }) }}">
                <a class="{{ calendar.nextMonth|date('n') <= maxDate|date('n') ?: 'hidden' }}" href="#" title="Next month">Next month</a>
        </li>
    </ul>
    <ul id="days_of_week">
        <li>SUN</li>
        <li>MON</li>
        <li>TUE</li>
        <li>WED</li>
        <li>THU</li>
        <li>FRI</li>
        <li>SAT</li>
    </ul>
    {% include 'BtnEventBundle:Event:_calendarList.html.twig' %}
</div>
<div class="tips_container">
    {% for day in calendar.month.days %}
        {% set key = day.date|date('z') %}
        {% if calendar.events[key]|default(false) %}
                <div class="tips_events" id="event{{ key }}">
                    <div class="date">{{ calendar.events[key].date|date("F j, Y") }}</div>
                    <span>{{ calendar.events[key].title }}</span>
                    <div class="venue">at the {{ calendar.events[key].venue }} / {{ calendar.events[key].type }}</div>
                </div>
        {% endif %}
    {% endfor %}
</div>
